/*
Theme Name: Period
Theme URI: https://www.competethemes.com/period/
Author: Compete Themes
Author URI: https://www.competethemes.com
Description: Period displays your content beautifully across phones, widescreen monitors, and everything in between. With special attention to typography, accessibility, and space, Period is a design you can trust for displaying your content.
Version: 1.04
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, right-sidebar, accessibility-ready, custom-menu, featured-images, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: period

Period WordPress Theme, Copyright 2016 Compete Themes
Period is distributed under the terms of the GNU GPL
*/
/*===== Variables =====*/
/* Theme Colors */
/* Media Query widths */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/***** Silent Classes *****/
.site-title {
  font-size: 1.3125em;
  /* 21px / 16px */
  line-height: 1.333;
  /* 28px */
}

h1, .post-title {
  font-size: 1.125em;
  /* 18px / 16px */
  line-height: 1.333;
  /* 24px */
}

#breadcrumbs > span, .archive-header h1,
.archive-header h2, .archive-header p, .more-link,
.comments-link, .comment-respond label, .comment-author .author-name, .comment-content > *, .tagline, .menu-primary a, .post-categories, .post-tags a, .further-reading a, .sidebar-primary .widget > *, .widget > * {
  font-size: 0.875em;
  /* 14px / 16px */
  line-height: 1.715;
  /* 24px */
}

.wp-caption-text,
.gallery-caption, input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea, input[type="submit"], .sticky-status span, .comment-author .comment-date, .comment-footer a,
.comment-footer i, .design-credit span, .post-byline, .further-reading span, .single-attachment .attachment-caption {
  font-size: 0.75em;
  /* 12px / 16px */
  line-height: 1.5;
  /* 18px */
}

#breadcrumbs a, .site-footer a, .site-title a, .social-media-icons a, .menu-primary a {
  color: white;
}
#breadcrumbs a:link, .site-footer a:link, .site-title a:link, .social-media-icons a:link, .menu-primary a:link, #breadcrumbs a:visited, .site-footer a:visited, .site-title a:visited, .social-media-icons a:visited, .menu-primary a:visited {
  color: white;
}
#breadcrumbs a:hover, .site-footer a:hover, .site-title a:hover, .social-media-icons a:hover, .menu-primary a:hover, #breadcrumbs a:active, .site-footer a:active, .site-title a:active, .social-media-icons a:active, .menu-primary a:active, #breadcrumbs a:focus, .site-footer a:focus, .site-title a:focus, .social-media-icons a:focus, .menu-primary a:focus {
  color: #D4D4D4;
}

.comments-number,
li.comment > article,
li.pingback > article,
.comment-respond, .comments-closed, .comment-pagination, .pagination, .search-bottom, .sidebar-primary .widget {
  background: white;
  box-shadow: 0 0 2px 0 rgba(58, 58, 58, 0.2);
  padding: 1.5em 4.68754%;
}

@media all and (min-width: 56.25em) {
  .comments-number,
  li.comment > article,
  li.pingback > article,
  .comment-respond, .comments-closed, .comment-pagination, .pagination, .search-bottom, .sidebar-primary .widget {
    background: white;
    box-shadow: 0 0 2px 0 rgba(58, 58, 58, 0.2);
    padding: 1.5em 7.50006%;
  }
}
/*===== Basic Styles =====*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 100%;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Open Sans", sans-serif;
  line-height: 1.5;
  background: #EDEDED;
  color: #333333;
  -webkit-font-smoothing: subpixel-antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.overflow-container {
  position: relative;
  overflow: hidden;
  height: auto;
  min-height: 100%;
}

.max-width {
  max-width: 1300px;
  margin: 0 auto;
}

.primary-container {
  padding: 0 5.5556%;
  margin-top: -5.25em;
  min-height: 100vh;
  min-height: calc(100vh - 291px);
}
.primary-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.main {
  margin: 0 auto;
}

.loop-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

p {
  margin: 1.5em 0;
}

a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
a:link, a:visited {
  color: #333333;
}
a:hover, a:active, a:focus {
  color: #757575;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: 1.5em;
}
ul ul, ul ol,
ol ul,
ol ol {
  margin: 0 1.5em;
}

ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */
pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #F7F7F7;
  border: solid 1px #EDEDED;
  padding: 0.75em;
}

code {
  background: #F7F7F7;
  padding: 0 0.375em;
}

blockquote {
  margin: 1.5em 1.5em 1.5em 0;
  padding-left: 1.5em;
  border-left: solid 3px #333333;
}
blockquote cite {
  display: block;
  text-align: right;
}

hr {
  margin: 1.5em 0;
}

/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0;
}

td,
th {
  padding: 0.75em;
  border: solid 1px #333333;
}

/* Images */
.alignleft {
  float: left;
  margin: 0 1.5em 1.5em 0;
}

.alignright {
  float: right;
  margin: 0 0 1.5em 1.5em;
}

.aligncenter {
  text-align: center;
  margin: 1.5em auto;
  display: block;
}

.alignnone {
  margin: 1.5em 0;
}

img,
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.wp-caption-text,
.gallery-caption {
  margin: 0 0 1.84502em;
}

/* Form styles */
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]),
textarea {
  width: 100%;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
  padding: 10px 12px;
  max-width: 27.75em;
  min-height: 37px;
  background: #F7F7F7;
  color: #333333;
  border: solid 1px #D4D4D4;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="image"]):focus,
textarea:focus {
  outline: none;
  background: white;
}

textarea {
  max-width: 41.625em;
  overflow: auto;
  /* to hide scrollbar in IE */
}
textarea:focus {
  outline: none;
  background: white;
}

input[type="submit"] {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: 400;
  padding: 10px 12px;
  color: #333333;
  border: solid 1px #333333;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background: #333333;
  color: white;
}

input[type="search"] {
  padding-right: 0.375em;
  /* so safari 'x' doesn't get cut off */
}

::-webkit-input-placeholder {
  color: #666666;
  font-weight: 300;
}

:-moz-placeholder {
  color: #666666;
  font-weight: 300;
}

::-moz-placeholder {
  color: #666666;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #666666;
  font-weight: 300;
}

/* ie image border fix */
a img {
  border: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.skip-content {
  position: absolute;
  top: -100%;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: 1.5em;
  background: #242424;
  box-shadow: 0 2px 2px 0 rgba(41, 41, 41, 0.4);
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
}
.skip-content:focus {
  top: 0;
  outline: none;
}

.admin-bar .skip-content:focus {
  top: 32px;
}

#breadcrumbs {
  display: inline-block;
  margin-bottom: 0.75em;
  color: #D4D4D4;
  margin-top: 0;
}

@media all and (min-width: 37.5em) {
  h1 {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.333;
    /* 28px */
  }

  h2 {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
@media all and (min-width: 56.25em) {
  .main {
    width: 62.5005%;
    float: left;
    margin-right: 3.12503%;
  }

  .left-sidebar .main {
    float: right;
    margin-right: 0;
    margin-left: 3.12503%;
  }
}
@media all and (min-width: 68.75em) {
  h1 {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }

  h2 {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.333;
    /* 28px */
  }

  h3 {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
.archive-header {
  margin-bottom: 0.75em;
  color: white;
}
.archive-header h1,
.archive-header h2 {
  display: inline-block;
  font-weight: 300;
  background: #242424;
  padding: 6px 14px 6px 14px;
}
.archive-header h1 .query,
.archive-header h2 .query {
  font-weight: 700;
}
.archive-header i {
  margin-right: 4px;
}
.archive-header p {
  display: inline-block;
  margin: 0;
  color: #D4D4D4;
  background: #242424;
  padding: 6px 14px 6px 14px;
}

.more-link,
.comments-link {
  display: inline-block;
}

.post-content .more-link,
.post-content .comments-link a {
  text-decoration: none;
}

.more-link {
  border: solid 1px #333333;
  padding: 6px 12px;
  margin-right: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.more-link:hover, .more-link:active, .more-link:focus {
  color: white;
  background: #333333;
}

.comments-link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.comments-link a:hover, .comments-link a:active, .comments-link a:focus {
  text-decoration: underline;
}
.comments-link i {
  margin-right: 1px;
}

.archive:not(.full-post).archive .post-content p:last-of-type, .archive:not(.full-post).blog .post-content p:last-of-type, .archive:not(.full-post).search .post-content p:last-of-type,
.blog:not(.full-post).archive .post-content p:last-of-type,
.blog:not(.full-post).blog .post-content p:last-of-type,
.blog:not(.full-post).search .post-content p:last-of-type,
.search:not(.full-post).archive .post-content p:last-of-type,
.search:not(.full-post).blog .post-content p:last-of-type,
.search:not(.full-post).search .post-content p:last-of-type {
  display: inline-block;
  margin: 0.375em 0 0.75em;
  line-height: 0;
}

.entry.sticky .post-title {
  margin-top: -12px;
}
.entry.sticky.has-post-thumbnail .post-title {
  margin-top: 0;
}
.entry.sticky.has-post-thumbnail .sticky-status {
  position: absolute;
  top: 0.75em;
  left: -4px;
  background: white;
}

.sticky-status {
  position: relative;
  display: inline-block;
  top: -1.5em;
  left: 0;
  padding: 0 12px 2px;
  background: #D4D4D4;
  font-weight: 400;
}

@media all and (min-width: 68.75em) {
  .entry.sticky .post-title {
    margin-top: -12px;
  }

  .sticky-status {
    top: -1.875em;
  }
}
.comment-respond label {
  display: block;
  margin-bottom: 6px;
  font-weight: 700;
}
.comment-respond p {
  margin: 1.125em 0;
}
.comment-respond p.comment-notes {
  margin: 1.5em 0;
}
.comment-respond p.form-submit {
  margin-top: 2.25em;
}

@media all and (min-width: 37.5em) {
  .comment-respond {
    padding-top: 2.25em;
  }
}
.comments-number {
  padding-top: 18px;
  padding-bottom: 18px;
}
.comments-number h2 {
  font-size: 1em;
  line-height: 1.5;
}

.comment-list,
.comment-list .children {
  margin: 0.75em 0;
  list-style: none;
}

.comment-list .children {
  padding-left: 1.5em;
  border-left: solid 1px #D4D4D4;
}

li.comment,
li.pingback {
  position: relative;
  margin-bottom: 0.75em;
}
li.comment.bypostauthor > article,
li.pingback.bypostauthor > article {
  border: solid 5px #D4D4D4;
}

.comment-author .avatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  float: left;
  margin-right: 0.75em;
}
.comment-author .author-name {
  display: block;
  font-weight: 700;
}
.comment-author .comment-date {
  float: left;
}
.comment-author:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.comment-content {
  margin: 1.5em 0;
}

.comments-closed {
  margin: 0.75em 0;
}

.comment-footer {
  position: absolute;
  top: 1.5em;
  right: 4.68754%;
}
.comment-footer a,
.comment-footer i {
  vertical-align: text-top;
}
.comment-footer a {
  font-weight: 700;
  margin-left: 4px;
}
.comment-footer i.fa-pencil {
  margin-left: 6px;
}

.comment-pagination {
  margin-bottom: 0.75em;
}
.comment-pagination p {
  display: inline-block;
  margin: 0 -4px 0 0;
  width: 50%;
}
.comment-pagination a {
  font-weight: 700;
}
.comment-pagination .next-comment {
  float: right;
  text-align: right;
}
.comment-pagination:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

@media all and (min-width: 37.5em) {
  li.comment > article,
  li.pingback > article {
    padding-top: 2.25em;
  }
}
@media all and (min-width: 68.75em) {
  .comments-number h2 {
    font-size: 1.125em;
    /* 18px / 16px */
    line-height: 1.333;
    /* 24px */
  }
}
.site-footer {
  text-align: center;
  background: #333333;
  margin-top: 3.75em;
  color: #D4D4D4;
  clear: both;
}
.site-footer a {
  font-weight: 700;
}

.design-credit {
  background: #242424;
  padding: 9px 5.5556%;
  margin-top: 1.875em;
}

/**
 * 14.2 Galleries
 */
.gallery {
  margin: 2.25em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}
.gallery-item a {
  border: none;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  display: block;
  font-size: 12px;
  padding: 0.5em 0 0;
  margin: 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}

.site-header {
  background: #333333;
  color: white;
  text-align: center;
  padding: 36px 5.5556% 5.25em;
}
.site-header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.site-title {
  font-weight: 700;
}

.tagline {
  color: #D4D4D4;
  margin: 0;
}

.logo {
  max-width: 100%;
  width: 168px;
  height: auto;
}

.social-media-icons {
  list-style: none;
  margin: 0 0 1.5em 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.social-media-icons li {
  display: inline-block;
  margin-right: 20px;
}
.social-media-icons li:last-child {
  margin-right: 0;
}
.social-media-icons.fade {
  opacity: 0;
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

@media all and (min-width: 56.25em) {
  .site-header {
    text-align: left;
  }

  .title-container {
    position: relative;
    z-index: 9;
    margin-bottom: 2.25em;
    float: left;
  }

  .site-title,
  .tagline {
    display: inline-block;
  }

  .tagline {
    margin-left: 6px;
  }

  .icon-container {
    float: right;
  }

  .social-media-icons {
    display: inline-block;
    margin: 0;
  }
}
.pagination {
  text-align: center;
  margin-bottom: 1.5em;
}
.pagination .prev,
.pagination .next {
  font-weight: 700;
}
.pagination .prev {
  float: left;
  margin-left: 0;
}
.pagination .prev:before {
  content: '\00ab';
  margin-right: 4px;
}
.pagination .next {
  float: right;
  margin-right: 0;
}
.pagination .next:after {
  content: '\00bb';
  margin-left: 4px;
}
.pagination a,
.pagination span {
  margin: 0 0.75em;
}
.pagination a.current,
.pagination span.current {
  padding: 2px 8px;
  background: #EDEDED;
}

@media all and (min-width: 37.5em) {
  .pagination {
    position: relative;
  }
  .pagination.prev, .pagination.next {
    position: absolute;
  }
  .pagination.prev {
    left: 0;
  }
  .pagination.next {
    right: 0;
  }
}
.toggle-navigation {
  font-size: 1em;
  background: 0;
  padding: 0;
  border: none;
  margin: 1.5em 0 1.875em 0;
}
.toggle-navigation:hover {
  cursor: pointer;
}

.menu-primary-container {
  position: relative;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}

.menu-primary {
  color: white;
  margin: 1.5em 0 2.25em;
  /***** Tier 2 *****/
}
.menu-primary ul {
  margin: 0;
  list-style: none;
}
.menu-primary li {
  margin-bottom: 6px;
}
.menu-primary li:last-child {
  margin-bottom: 0;
}
.menu-primary li.current-menu-item > a, .menu-primary li.current_page_item > a, .menu-primary li.current-menu-ancestor > a {
  background: #242424;
}
.menu-primary li.current-menu-item > a:hover, .menu-primary li.current-menu-item > a:active, .menu-primary li.current-menu-item > a:focus, .menu-primary li.current_page_item > a:hover, .menu-primary li.current_page_item > a:active, .menu-primary li.current_page_item > a:focus, .menu-primary li.current-menu-ancestor > a:hover, .menu-primary li.current-menu-ancestor > a:active, .menu-primary li.current-menu-ancestor > a:focus {
  background: white;
}
.menu-primary a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  z-index: 9;
  overflow: hidden;
  padding: 0 8px 2px 8px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.menu-primary a:hover, .menu-primary a:active, .menu-primary a:focus {
  color: #333333;
  background: white;
}
.menu-primary ul ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
.menu-primary ul ul li:first-child {
  margin-top: 6px;
}
.menu-primary ul ul li:last-child {
  margin-bottom: 6px;
}
.menu-primary ul ul li.current-menu-item > a, .menu-primary ul ul li.current_page_item > a {
  background: none;
  font-weight: 700;
}
.menu-primary .toggle-dropdown {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  margin: 0 -26px 0 2px;
  padding: 2px 6px;
  border: solid 1px #D4D4D4;
  background: none;
  color: white;
}
.menu-primary .toggle-dropdown:hover {
  cursor: pointer;
}
.menu-primary .toggle-dropdown .arrow {
  display: inline-block;
}
.menu-primary .toggle-dropdown .arrow:after {
  font-family: FontAwesome;
  content: '\f107';
}
.menu-primary .open > ul {
  max-height: 999px;
}
.menu-primary .open > .toggle-dropdown .arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media all and (min-width: 56.25em) {
  .toggle-navigation {
    display: none;
  }

  .menu-primary-container {
    max-height: none;
    margin-bottom: 1.875em;
    overflow: visible;
  }

  .menu-primary {
    margin: 0;
    clear: both;
    /***** Tier 2 *****/
  }
  .menu-primary .toggle-dropdown {
    display: none;
  }
  .menu-primary li {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .menu-primary li:hover, .menu-primary li:active {
    color: #333333;
    background: white;
  }
  .menu-primary li:hover > a, .menu-primary li:active > a {
    color: #333333;
    background: white;
  }
  .menu-primary ul ul {
    position: absolute;
    z-index: 19;
    top: 100%;
    top: calc(100% + 4px);
    max-height: none;
    overflow: visible;
    background: white;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .menu-primary ul ul:hover, .menu-primary ul ul.focused {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  .menu-primary ul ul li {
    white-space: nowrap;
    margin: 0 10px 6px 0;
  }
  .menu-primary ul ul li.current-menu-ancestor {
    background: none;
  }
  .menu-primary ul ul li.current-menu-ancestor > a {
    background: none;
    font-weight: 700;
  }
  .menu-primary ul ul a {
    color: #333333;
    width: 100%;
  }
  .menu-primary ul ul a:link, .menu-primary ul ul a:visited {
    color: #333333;
  }
  .menu-primary li {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  .menu-primary li.menu-item-has-children {
    position: relative;
    /***** Tier 3+ *****/
  }
  .menu-primary li.menu-item-has-children:hover > a:after {
    top: 2px;
  }
  .menu-primary li.menu-item-has-children > a:hover ~ ul, .menu-primary li.menu-item-has-children > a:active ~ ul, .menu-primary li.menu-item-has-children > a:focus ~ ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
  .menu-primary li.menu-item-has-children > a:hover:after, .menu-primary li.menu-item-has-children > a:active:after, .menu-primary li.menu-item-has-children > a:focus:after {
    top: 2px;
  }
  .menu-primary li.menu-item-has-children > a:after {
    position: relative;
    top: 0;
    font-family: FontAwesome;
    content: '\f107';
    margin-left: 4px;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .menu-primary li.menu-item-has-children ul li {
    display: list-item;
  }
  .menu-primary li.menu-item-has-children ul .menu-item-has-children:hover a:after, .menu-primary li.menu-item-has-children ul .menu-item-has-children:active a:after {
    right: -2px;
    top: 0;
  }
  .menu-primary li.menu-item-has-children ul .menu-item-has-children > a:after {
    content: '\f105';
    -webkit-transition: right 0.2s ease;
    transition: right 0.2s ease;
  }
  .menu-primary li.menu-item-has-children ul .menu-item-has-children > a:hover ~ ul, .menu-primary li.menu-item-has-children ul .menu-item-has-children > a:active ~ ul, .menu-primary li.menu-item-has-children ul .menu-item-has-children > a:focus ~ ul {
    opacity: 1;
    visibility: visible;
    top: -6px;
    left: 100%;
  }
  .menu-primary li.menu-item-has-children ul .menu-item-has-children > a:hover:after, .menu-primary li.menu-item-has-children ul .menu-item-has-children > a:active:after, .menu-primary li.menu-item-has-children ul .menu-item-has-children > a:focus:after {
    top: 0;
    right: -2px;
  }
  .menu-primary li.menu-item-has-children ul ul {
    top: -6px;
    left: 100%;
    left: calc(100% + 4px);
  }
  .menu-primary li.menu-item-has-children ul ul:hover, .menu-primary li.menu-item-has-children ul ul.focused {
    top: -6px;
    left: 100%;
  }

  .rtl .menu-primary ul li.menu-item-has-children > a:after {
    display: none;
  }
  .rtl .menu-primary ul li.menu-item-has-children > a:before {
    position: relative;
    top: 0;
    font-family: FontAwesome;
    content: '\f107';
    margin-left: 4px;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
  }
  .rtl .menu-primary ul ul {
    right: auto;
    left: 0;
  }
  .rtl .menu-primary ul ul li.menu-item-has-children a:before {
    content: '\f104';
  }
  .rtl .menu-primary ul ul li.menu-item-has-children a:hover ~ ul, .rtl .menu-primary ul ul li.menu-item-has-children a:active ~ ul, .rtl .menu-primary ul ul li.menu-item-has-children a:focus ~ ul {
    right: auto;
    left: 100%;
  }
  .rtl .menu-primary ul ul ul:hover, .rtl .menu-primary ul ul ul.focused {
    right: auto;
    left: 100%;
  }
}
.entry {
  position: relative;
  margin-bottom: 1.5em;
}
.entry > article {
  background: white;
  box-shadow: 0 0 2px 0 rgba(58, 58, 58, 0.2);
}

.post-container {
  padding: 1.5em 4.68754%;
  margin-bottom: 0.75em;
}

.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.featured-image > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.featured-image > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}
.featured-image > a:focus:after {
  opacity: 0.2;
}
.featured-image > img,
.featured-image > a > img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured-image > img.no-object-fit,
.featured-image > a > img.no-object-fit {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  top: 50%;
  right: 50%;
  left: auto;
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}

.post-header {
  margin: 0 0 1.5em 0;
}

.post-byline .date,
.post-byline .author {
  font-weight: 700;
  text-decoration: underline;
}
.post-byline .date:hover, .post-byline .date:active, .post-byline .date:focus,
.post-byline .author:hover,
.post-byline .author:active,
.post-byline .author:focus {
  text-decoration: none;
}

.post-content a {
  text-decoration: underline;
  font-weight: 700;
}
.post-content a:hover, .post-content a:active, .post-content a:focus {
  text-decoration: none;
}
.post-content iframe {
  max-width: 100%;
}
.post-content:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.post-meta {
  margin: 1.875em 0 0.75em;
}

.post-categories {
  margin-bottom: 1.71em;
}
.post-categories a {
  font-weight: 700;
}
.post-categories a:hover, .post-categories a:active, .post-categories a:focus {
  text-decoration: underline;
}

.post-tags {
  margin-bottom: 1.125em;
}
.post-tags ul {
  list-style: none;
  margin: 0;
}
.post-tags li {
  display: inline-block;
}
.post-tags a {
  display: inline-block;
  padding: 0 12px;
  border: solid 1px #333333;
  margin: 0 6px 6px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.post-tags a:hover, .post-tags a:active, .post-tags a:focus {
  background: #333333;
  color: white;
}

.further-reading .previous {
  margin-bottom: 0.75em;
}
.further-reading a {
  font-weight: 700;
  display: block;
}
.further-reading a:hover, .further-reading a:active, .further-reading a:focus {
  text-decoration: underline;
}

.singular-pagination a {
  font-weight: 700;
  text-decoration: underline;
}
.singular-pagination a:hover, .singular-pagination a:after, .singular-pagination a:focus {
  text-decoration: none;
}

@media all and (min-width: 37.5em) {
  .post-title {
    font-size: 1.3125em;
    /* 21px / 16px */
    line-height: 1.333;
    /* 28px */
  }

  .further-reading div {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
  }
  .further-reading .previous {
    margin-bottom: 0;
  }
  .further-reading .next {
    text-align: right;
  }
}
@media all and (min-width: 56.25em) {
  .post-container {
    padding: 1.5em 7.50006%;
  }
}
@media all and (min-width: 68.75em) {
  .post-container {
    padding: 1.875em 7.50006% 2.25em;
  }

  .post-title {
    font-size: 1.75em;
    /* 28px / 16px */
    line-height: 1.357;
    /* 38px */
  }
}
.search-form-container .search-submit {
  min-width: 99px;
}

.site-header .search-form-container {
  position: absolute;
  right: 6px;
  top: 0.75em;
  z-index: 19;
}
.site-header .search-form-container button {
  position: relative;
  z-index: 9;
  background: none;
  border: none;
  margin: 5px -10px 0 0;
  padding: 6px 10px;
  font-size: 1em;
  line-height: 1.5;
}
.site-header .search-form-container button:hover {
  cursor: pointer;
}
.site-header .search-form-container button:hover i, .site-header .search-form-container button:active i, .site-header .search-form-container button:focus i {
  color: #D4D4D4;
}
.site-header .search-form-container button.open i {
  color: #333333;
}
.site-header .search-form-container button.open + form {
  opacity: 1;
}
.site-header .search-form-container i {
  color: white;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.site-header .search-form-container form {
  position: absolute;
  top: -2px;
  right: -12px;
  left: 0;
  padding-top: 6px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out, left 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out, left 0.15s ease-in-out;
}
.site-header .search-form-container .search-field {
  max-width: none !important;
  outline: none !important;
  padding: 6px 12px !important;
}
.site-header .search-form-container .search-field::-webkit-search-decoration, .site-header .search-form-container .search-field::-webkit-search-cancel-button, .site-header .search-form-container .search-field::-webkit-search-results-button, .site-header .search-form-container .search-field::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.site-header .search-form-container .search-field::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.site-header .search-form-container .search-field::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.site-header .search-form-container .search-field:focus {
  background: white !important;
  outline: solid 1px #EDEDED !important;
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

@media all and (min-width: 56.25em) {
  .site-header .search-form-container {
    position: relative;
    float: right;
    top: -5px;
    right: 0;
    z-index: 9;
    text-align: right;
    margin: 0 0 0 1.5em;
  }
  .site-header .search-form-container button {
    margin: 0;
    padding: 4px 10px;
  }
  .site-header .search-form-container button:hover {
    cursor: pointer;
  }
  .site-header .search-form-container button.open + form {
    left: -266px;
  }
  .site-header .search-form-container form {
    padding-top: 0;
    right: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    outline-color: #333333;
  }
  50% {
    outline-color: #EDEDED;
  }
  100% {
    outline-color: #333333;
  }
}
@keyframes pulse {
  0% {
    outline-color: #333333;
  }
  50% {
    outline-color: #EDEDED;
  }
  100% {
    outline-color: #333333;
  }
}
.search-bottom p {
  margin-top: 0;
}

.sidebar-primary .widget {
  margin-bottom: 0.75em;
}
.sidebar-primary .widget .widget-title {
  font-size: 1em;
  line-height: 1.5;
}

@media all and (min-width: 56.25em) {
  .sidebar-primary {
    width: 34.37528%;
    float: left;
    margin-top: 3em;
  }
  .sidebar-primary .widget {
    padding-top: 1.875em;
  }
}
.widget-title {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.widget a:hover, .widget a:active, .widget a:focus {
  text-decoration: underline;
}

.widget_calendar a:hover, .widget_calendar a:active, .widget_calendar a:focus {
  text-decoration: none;
}
.widget_calendar caption {
  margin-bottom: 6px;
}
.widget_calendar table {
  margin: 0 auto 0.75em;
  width: 100%;
  text-align: center;
}
.widget_calendar thead {
  background: #EDEDED;
}
.widget_calendar th,
.widget_calendar tr,
.widget_calendar td {
  border-color: #D4D4D4;
}
.widget_calendar #today {
  background: #333333;
  color: white;
}
.widget_calendar #prev,
.widget_calendar #next,
.widget_calendar .pad {
  padding: 0;
}
.widget_calendar #prev a,
.widget_calendar #next a,
.widget_calendar .pad a {
  display: block;
  padding: 8px;
}
.widget_calendar #prev a:hover, .widget_calendar #prev a:active, .widget_calendar #prev a:focus,
.widget_calendar #next a:hover,
.widget_calendar #next a:active,
.widget_calendar #next a:focus,
.widget_calendar .pad a:hover,
.widget_calendar .pad a:active,
.widget_calendar .pad a:focus {
  background: #EDEDED;
}

.widget_nav_menu .current-menu-item > a {
  font-weight: 700;
}

.widget_recent_comments a {
  text-decoration: underline;
}
.widget_recent_comments a:hover, .widget_recent_comments a:active, .widget_recent_comments a:focus {
  text-decoration: none;
}

.widget_recent_entries .post-date {
  font-size: 12px;
  line-height: 1.5;
  display: block;
  margin-bottom: 6px;
}

.widget_search .search-field {
  width: 74% !important;
  width: calc(75% - 6px) !important;
  float: left;
  margin-right: 2px;
}
.widget_search .search-submit {
  width: auto !important;
  max-width: 25% !important;
  min-width: 25% !important;
}
.widget_search:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.widget_rss .widget-title img {
  margin-right: 4px;
}
.widget_rss .widget-title a:hover, .widget_rss .widget-title a:active, .widget_rss .widget-title a:focus {
  text-decoration: none;
}
.widget_rss .rssSummary {
  margin: 0.75em 1.5em;
  color: #666666;
}
.widget_rss .rssSummary + cite {
  display: block;
  margin: 0 0 1.5em 1.5em;
}
.widget_rss .rss-date {
  font-style: italic;
}
.widget_rss li {
  display: block;
}
.widget_rss cite,
.widget_rss span {
  margin-bottom: 1.5em;
  display: block;
}
.widget_rss span + cite {
  margin-top: -1.5em;
}

.single-attachment .attachment-container img {
  display: block;
}
