/* Back-end styles */
/* styles for theme options page */
#period-dashboard-wrap h2 {
  margin-bottom: 24px;
}
#period-dashboard-wrap .content {
  margin-top: 12px;
  padding: 12px 24px 24px;
  border: solid 1px #e5e5e5;
  background: white;
}
#period-dashboard-wrap .content .button-primary {
  margin: 12px 0;
}
#period-dashboard-wrap .content ul {
  list-style: disc;
  margin-left: 36px;
}

/* 600px */
@media all and (min-width: 37.5em) {
  #period-dashboard-wrap .content {
    width: 39%;
    float: left;
  }
  #period-dashboard-wrap .content p {
    min-height: 57px;
  }
  #period-dashboard-wrap .content-review {
    min-height: 192px;
  }
  #period-dashboard-wrap .content-customization,
  #period-dashboard-wrap .content-premium-upgrade,
  #period-dashboard-wrap .content-review {
    margin-right: 2%;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  #period-dashboard-wrap .content {
    width: 27%;
  }
  #period-dashboard-wrap .content-resources {
    clear: left;
  }
  #period-dashboard-wrap .content-customization,
  #period-dashboard-wrap .content-support,
  #period-dashboard-wrap .content-resources,
  #period-dashboard-wrap .content-review {
    margin-right: 1%;
  }
  #period-dashboard-wrap .content-premium-upgrade {
    margin-right: 0;
  }
}
